<h2 class="text-center mt-5">Education</h2>
<div class="container">
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title"><strong>Escuela Secundaria - EESNº4 (José Leon Suarez)
          </strong></h5>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Bachiller en Economía y Administración</strong></h6>
          <p class="card-text"><strong>2013 - 2018</strong> </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-success me-md-2" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Eliminar</button>
          </div>
        </div>
    </div>
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title"><strong>Universidad - UTN San Nicolás
          </strong></h5>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Tecnico Universitario en Programación</strong> </h6>
          <p class="card-text"><strong>2021 - 2022</strong> </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-success me-md-2" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Eliminar</button>
          </div>
        </div>
    </div>
    <div id="skills"></div>
</div>