<nav class="navbar bg-secondary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../images/arg.png"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      "Argentina Programa"
#YoProgramo
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="#aboutMe"
          >About Me</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#proyects">Proyects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="">Login</a>
      </li>
    </ul>
  </div>
</nav>
