<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src=""
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Portfolio Argentina Programa perri
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#aboutMe"
              >About Me</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#proyects">Proyects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
