<footer class="footer text-center mt-5">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Ubicacion</h4>
                <p class="lead mb-0">
                  lukinha mezao
                    <br>
                    Argentina, Chivilcoy
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mis redes sociales</h4>
                <a class="btn btn-secondary mx-1" href="https://github.com/teggi10">githa</a>
                <a class="btn btn-secondary mx-1" href="https://www.linkedin.com/in/mateo-teggi-16a05b194/">linke</a>
            </div>
            <!-- Footer information-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Informacion Adicional</h4>
                <p class="lead mb-0">
                  lukkazsi@gmail.com
                    <br>
                  zamsung
                </p>
            </div>
        </div>
    </div>
</footer>
     <!-- Copyright Section-->
     <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Mateo Teggi </small></div>
    </div>
