<h2 class="text-center text-white pt-5">Skills</h2>
<div class="container">
    <div class="col">
      <div class="card mt-5">
        <div class="card-body">
          <h4 class="card-title"><strong>Informatic knowledges</strong></h4>
          <p class="card-text">
            C, C++, PHP, Angular, CSS, HTML, JavaScript, MySql
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-5">
        <div class="card-body">
          <h4 class="card-title"><strong>Languages</strong></h4>
          <h5 class="card-title">Español</h5>
          <p class="card-text">Nativo</p>
          <h5 class="card-title">Inlges</h5>
          <p class="card-text">Nivel Advanced (avanzado)</p>
        </div>
      </div>
    </div>
</div>
