<h2 class="text-center mt-5">Experience</h2>
<div class="container">
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><strong>Creative Coefficient</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Full Stack Developer Web Jr</strong> </h6>
          <p class="card-text">se laburo una banda por suerte amigo, gracias a todos por confiar en mi lokura</p>
          <p class="card-text"  id="education"><strong>2020 - actualidad</strong> </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-success me-md-2" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Eliminar</button>
          </div>
        </div>
    </div>
    <div></div>
</div>
