<h2 class="text-center text-white pt-5" id="proyects">Proyects</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-1 pb-5">
      <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="" class="card-img-top" alt="foto">
            <div class="card-body">
              <h5 class="card-title"><strong>Registrador Contable</strong></h5>
              <p class="card-text">epetacula proyecto negro, una pinturita de vango</p>
              <a href="#" class="btn btn-secondary">Ir al proyecto</a>
              <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
                <button class="btn btn-success me-md-2" type="button">Crear</button>
                <button class="btn btn-success me-md-2" type="button">Editar</button>
                <button class="btn btn-danger" type="button">Eliminar</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="" class="card-img-top" alt="foto">
            <div class="card-body">
              <h5 class="card-title"><strong>Registrador Contable</strong></h5>
              <p class="card-text">epetacula proyecto negro, una pinturita de vango</p>
              <a href="#" class="btn btn-secondary">Ir al proyecto</a>
              <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
                <button class="btn btn-success me-md-2" type="button">Crear</button>
                <button class="btn btn-success me-md-2" type="button">Editar</button>
                <button class="btn btn-danger" type="button">Eliminar</button>
              </div>
            </div>
          </div>
    </div>
  </div>
  

